<h2>Lista de Produtos</h2>
<i (click)="abrirAddProduct()" label="Show" class="pi pi-plus" style="font-size: 1rem"></i>

<!-- Incluir o componente AddProduct aqui -->
<app-add-product></app-add-product>


<p-table
  [value]="products"
  [paginator]="true"
  [rows]="5"
  [tableStyle]="{ 'min-width': '50rem' }"
  [rowsPerPageOptions]="[5, 10, 20]"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 5%">ProductId</th>
      <th style="width: 20%">Name</th>
      <th style="width: 10%">Price</th>
      <th style="width: 15%">Color Name</th>
      <th style="width: 15%">Supplier</th>
      <th style="width: 5%">Delete</th>
      <th style="width: 5%">Update</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.productId }}</td>
      <td>{{ product.categoryName }}</td>
      <td>{{ product.price | currency : "USD" }}</td>
      <td>{{ product.colorName }}</td>
      <td>{{ product.supplierName }}</td>
      <td><i (click)="deleteProduct(product)" class="pi pi-spin pi-trash" style="font-size: 1rem"></i></td>
      <td><i class="pi pi-spin pi-pencil" style="font-size: 1rem"></i></td>
    </tr>
  </ng-template>
</p-table>
